<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">

 <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
 <script src="/script/vue-3d-model.js"></script>
 <style>
     body {
         margin: 0;
     }

     .loading {
         font-size: 28px;
         position: fixed;
         top: 0;
         right: 0;
         left: 0;
         bottom: 0;
         display: flex;
         align-items: center;
         justify-content: center;
     }
 </style>
</head>
<body>

<div id="app2"  >
     <model-stl src="/assets/gear.stl" @measured="haha" @on-load="onLoad"></model-stl>
    <div class="loading" v-if="loading">
        <span>Loading...</span>
    </div>
</div>

<script>


        new Vue({
            el: '#app2',
            data() {
                return {
                    loading: true
                }
            },
            methods: {
                haha(data) {
                    console.log(data)
                },

                onLoad() {
                    this.loading = false;
                }
            }
        })



</script>

</body>